{%extends "homepage.html"%}

{%block content%}

<div id="about" class="container text-center">
    <hr>
    <h3><b>ABOUT US</b></h3>
    <p><em>Everything you need under one roof</em></p>
    <hr>
    <p>We Our Pets came with a vision to make pet parenting hassle free. Getting a pet is like getting a child they need our care concern and also all the basic needs. We understand your love towards your pet and also the troubles you face while pet parenting, which made us set up our vision. Our dreams are alike in terms of adorning our four-legged family. To take it further, we envision an approach that's paw-some in its own ways. Happiness, comfort & support, these are our royalties, our pillars on which we stand to be there for our pet's every need. We feel paw-sitive to be able to build a society for our pets and create the world a better place for them.</p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Parrot</strong></p><br>
        <a href="/viewsSection/4" >
          <img src="/media/Images/p1.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
  
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Horse</strong></p><br>
        <a href="/viewsSection/7" >
          <img src="/media/Images/h2.jpg"  class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
  
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Turtle</strong></p><br>
        <a href="/viewsSection/5" >
          <img src="/media/Images/t3.jpg"  class="img-circle person" alt="Random Name" width="255" height="300">
        </a>
      </div>
    </div>
  </div>

  <form role="form" method="post" action="/login">
    {%csrf_token%}
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content" id="img1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><span class="glyphicon glyphicon-log-in"></span> Sign In</h4>
            </div>
            <div class="modal-body">
              
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-user"></span> Username</label>
                  <input type="text" class="form-control"  name="username" placeholder="Enter Username" required>
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-lock"></span> Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                </div><br>
                  <button type="submit" class="btn btn-block" name="action" value="login">Login
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>         
            </div>       
          </div>
      
    </div>
   
  </div>
</form> 
<form role="form" method="post" action="/signup">
    {%csrf_token%}
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content" id="img1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><span class="glyphicon glyphicon-log-in"></span> Sign Up</h4>
            </div>
            <div class="modal-body">
              
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-user"></span> First Name</label>
                  <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> Last Name</label>
                  <input type="text" class="form-control" name="lname" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-phone"></span> Mobile No.</label>
                  <input type="number" class="form-control" name="mob" placeholder="Mobile" required>
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span>Create Username</label>
                  <input type="text" class="form-control" name="user" placeholder="Create Username" required>
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-lock"></span>Create Password</label>
                  <input type="password" class="form-control" name="pwd" placeholder="Create Password" required>
                </div>
                  <button type="submit" class="btn btn-block" name="action" value="signup">Sign Up
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>         
            </div>       
          </div>
      
    </div>
   
  </div>
</form>
{%endblock%}
